In [ ]:
# TASK-1

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv(r'C:\Users\Hp\Desktop\master.csv')

In [ ]:
data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [ ]:
# Number of rows(records) in the dataframe
len(data.index)

27820

In [ ]:
# Number of columns in the dataframe
len(data.columns)

12

In [ ]:
# Datatype of columns
data.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
# All at once
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [ ]:
# Printing number of unique values in columns
for x in data.columns:
    print(data[x].nunique())

101
32
2
6
2084
25564
5298
2321
305
2321
2233
6

In [ ]:
# Number of missing entries in each columns
for x in data.columns:
    print(sum(data[x].isnull()))

0
0
0
0
0
0
0
0
19456
0
0
0

In [ ]:
# Number of records not having any missing entries
notmissing_row=0
for x in data.index:
    if sum(data.loc[x].isnull())==0 :
        notmissing_row = notmissing_row +1
print(notmissing_row)

8364